*{
    box-sizing: border-box;  /*Idh evde use cheyyunadh vera oonuninum impact cheyyadha nilkan ann screen sizil padding okke 100% allready screen size indagil pinne padding kodukumpo impact aavnda nilkan vendi ann*/
}
body{
    margin: 0;
}
main{
    margin-left: auto;
}
header{
    background-color: grey;
    text-align: center;
    padding: 25px;
}

.navbar{
    background-color: aquamarine;
    height: 50px;
}
aside{
    width: 20%;
    float: left;
    padding: 10px;
}
section{
    width: 40%;
    float: left;
    padding: 10px;
}
article{
    width: 40%;
    float: left;
    padding: 10px;
}

footer{
    display: block;
    clear: both;     /*evde idh mugalithe float clear cheyyan ee elementinu avashyam illathond*/
    background-color: aquamarine;
    text-align: center;
    padding: 25px;
}

@media screen and (max-width:600px){       /*evde njan endha cheyydhadh vecha avde mobile devices avumpo foat left okke koduthadh mari 20% and 40% okke ulladh 100% aayi maarum*/
    aside, section, article{
        width: 100%;
    }
}
    
