#countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: hevetica;
}

#btnContainer{
text-align: center;
}

.buttons{
    padding: 10px 20px;
    margin: 10px;
    font-size: 1.5em;
    color: white;
    background-color: rgb(96, 131, 207);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.buttons:hover{
    background-color:rgb(6, 25, 68);
}