body{
    margin: 20px;
    background-color: cornsilk;

}

#divs{
    text-align: center;
    font-size: 3em;
}
#mySubmit{
    padding: 5px 10px;
    font-size: 20px;
    background-color: bisque;
}

#myText{
    text-align: center;
    padding: 5px 10px;
}

#mySubmit:hover{
    background-color: rgb(196, 164, 175);
}